*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: solid 5px lightgray;
}
.container-box{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 3px;
    width: 180px;
    height: 60px;
    background-color: orange;
}
.child{
    margin:1px;
    width: 55px;
    height: 50px;
    background-color: rgb(60, 60, 92);
}
