.parent {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.child1 {
    padding: 10px;
    border: 3px solid; 
}

.child2 {
    padding: 10px;
    border: 3px solid;
    margin-top: 20px;
}

.child3 {
    padding: 10px;
    border: 3px solid;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.primary_button {
    color: white;
    background-color: rgb(82, 71, 240);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.default_button {
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    padding: 9px;
    border-radius: 10px;
}

.dashed_button {
    color: black;
    background-color: white;
    border-width: 1px;
    padding: 9px;
    border-style: dashed;
    border-radius: 10px;
}

.text_button {
    color: black;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.link_button {
    text-decoration: none;
    background-color: white;
    padding: 9px;
    border: none;
    border-radius: 10px;
}

.round1 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;
    padding: 0;
}

.round2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border: none;

}

.round3 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 15px;
}

.round4 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}

.round5 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.round6 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 20px;
}

.round7 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 15px;
}

.round8 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px dashed;
    font-size: 20px;
}

.round9 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px dashed;
    font-size: 15px;
}

.round10 {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
}


.btn {
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.primary {
    background-color: blue;
    color: white;
}

.default {
    color: black;
    border: 1px solid;
}

.dashed {
    color: black;
    border: 1px dashed;
}

.disable {
    background-color: rgb(133, 133, 133);
    color: rgb(70, 70, 70);
}

.text {
    color: black;

}

.link {

}