.grand-parent {
    height: 500px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.p {
    height: 500px;
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.parent1 {
    flex-grow: 1;
}

.parent2 {
    flex-grow: 2;
}

.parent3 {
    flex-grow:3;
}

/* ===parent1=== */

.p1child {
    flex-grow: 0;
    background-color: rgb(167, 255, 167);
    padding: 10px;
}

.p1child-3 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p1subchild3 {
    background-color: white;
    flex-grow: 1;
}

.p1article {
    background-color: rgb(154, 255, 154);
    flex-grow: 0;
}

/* ===parent2=== */
.p2child {
    flex-grow: 0;
    background-color: rgb(154, 255, 154);
    padding: 10px;
}

.p2child-3 {
    flex-grow: 1;
    background-color: green;
    padding: 0px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.p2child-3-box {
    flex-grow: 1;
    background-color: rgb(154, 255, 154);

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.p2child-3-box-left {
    background-color: white;
    flex-grow: 1;
    padding: 10px;
}

.p2article {
    flex-grow: 0;
    background-color: rgb(154, 255, 154);
}

.p2-article-header {
    flex-grow: 0;
}

.p2child-3-box-2 {
    display: flex;
    justify-content: center;
}

/* ===parent3=== */
.flex {
    display: flex;
}

.flexrow {
    flex-direction: row;
}

.flexcol {
    flex-direction: column;
}

.flexgrow0 {
    flex-grow: 0;
    gap: 10px;
}

.flexgrow1 {
    flex-grow: 1;
    gap: 10px;
}

.child {
    background-color: rgb(154, 255, 154);
    padding: 10px;
}
  
.whitebox {
    background-color: white;
}

.greenbox {
    background-color: green;
}