*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border: solid 5px lightgray;
}
.container-box{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 200px;
    height: 70px;
    background-color: orange;
}
.child{
    margin:5px;
    width: 50px;
    height: 50px;
    background-color: rgb(5, 5, 124);
}
